
---
import Base from "../layouts/Base.astro";
---
<Base title="Not Found">
  <div class="prose prose-slate dark:prose-invert">
    <h2>404 — Not Found</h2>
    <p>Sorry, that page doesn't exist.</p>
  </div>
</Base>
